<body>
  <section>
    <div class="container-fluid cont">
      <div class="row">
        <div class="col-lg-6 first">
          <div class="card">
              <div class="card-img">
              </div>
                <div class="card-info">
                  <p class="bio">Below are the few technologies I am well aware of and also which I work on a daily basis.For various project works like ADIS (AutomatedDataImportSystem), Weather Application, Online Shopping portal, MAES (Multithreaded Automated Email System) head on to github to see my work...</p>
                  <div class="parent">
                    <div class="flip-card card1">
                      <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="../../assets/1613541917679_5848104fcef1014c0b5e4950.png" alt="" class="cardicon">
                              <p class="title">MS SQL</p>
                          </div>
                          <div class="flip-card-back">
                              <p>I have 3 years of experience in MS SQL writing complex queries, store proc's, triggers and performance optimizations of various SQL queries.</p>
                          </div>
                      </div>
                  </div>
                  <div class="flip-card card2">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="../../assets/c.png" alt="" class="cardicon">
                          <p class="title">C#</p>
                        </div>
                        <div class="flip-card-back">
                            <p>I have 3 years of experience in c# in creating a complex business application, multithreading the applications, and improving the performance of the exe's.</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card card3">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../assets/angular.png" alt="" class="cardicon">
                        <p class="title">Angular<p>
                      </div>
                      <div class="flip-card-back">
                          <p>The web application your currently interacting with is built by me using Angular.</p>
                      </div>
                  </div>
              </div>
              <div class="flip-card card4">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../../assets/activebatch-workload-automation (1).png" alt="" class="cardicon4">
                      <p class="title">ActiveBatch<p>
                    </div>
                    <div class="flip-card-back">
                        <p>I have 3 years of experience in creating an automated job and converting many manual flows into an automated one.</p>
                    </div>
                </div>
            </div>
                  </div>                                     
                </div>
              </div>
        </div>
        <div class="col-lg-6 second">
          <img src="../../assets/tech.gif" alt="" class="img-fluid img-thumbnail">
        </div>
      </div>
    </div>
  </section>
  </body>
  