<body>
<section>
  <div class="container-fluid cont">
    <div class="row">
      <div class="col-lg-6 vh-100">
        <div class="parent">
        <img src="../../assets/sticker.png" alt="" class="hi">
        <h4 class="intro">Hello there.....My name is Praveen! With three years of experience in C#, SQL, Angular, and ActiveBatch, I possess a robust skillset in software development and Automation. I have worked on a variety of projects, ranging from web application development to data management and automation. My expertise in these technologies has enabled me to build efficient and effective software solutions that meet the needs of end-users. I am well-versed in the principles of programming, database design, and web development, and are committed to continuously expanding my knowledge and keeping up with the latest trends and technologies in my field.</h4>
        <p class="reach">If you have a few minutes in a day, you can catch me up at the below platforms</p>
          <ul class = "nav icons justify-content-center">
            <li class="icon">
              <a class="hand" href="https://github.com/praveenc798/" target="_blank"> <img src="../../assets/icons8-github.gif"  alt="">
              </a>
            </li>
            <li class="icon">
              <a class="hand" href="https://mail.google.com/mail/?view=cm&fs=1&to=praveenc798@gmail.com" target="_blank"> <img src="../../assets/icons8-gmail-logo.gif"  alt="">
              </a>
            </li>
            <li class="icon">
              <a class="hand" href="https://www.linkedin.com/in/praveen-c-610346192/" target="_blank"> <img src="../../assets/icons8-linkedin-circled.gif"  alt="">
              </a>
            </li>
            <li class="icon">
              <a class="hand" href="https://www.instagram.com/praveen.cr/" target="_blank"> <img src="../../assets/icons8-instagram.gif"  alt="">
              </a>
            </li>
          </ul>
      </div>
    </div>
      <div class="col-lg-6 vh-100">
          <img src="../../assets/home.gif" alt="" class="img-fluid img-thumbnail">
      </div>
    </div>
  </div>
</section>
</body>
